nav div a{
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.bg-container-fluid{
    background: url(/img/bg.jpg);
}

.tile-ani{
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}

.tile-ani:hover{
    animation-name: tiles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes tiles{
    0% {background-color: red;}
    25% {background-color: yellow;}
    75% {background-color: blue;}
    100% {background-color: yellow;}
}

